ul, li, ol, p {
    margin:0;
    padding:0;
}

*, *:after, *:before {
 padding: 0;
 margin: 0;
 line-height: 1;
 -webkit-transition: all .2s ease-in-out;
 transition: all .2s ease-in-out;
}

/*
@media screen and (max-width: 1024px) {
    body {
        background-color: tomato;
    }

@media screen and (max-width: 1920px) {
    body {
        background-color: yellow;
    }
*/


body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.hamburger {
    display: none;
    position: absolute;
    right: 234px;
    top: 46px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    font-size: 0;
    box-shadow: none;
    cursor: pointer;
    background:#082468;
    border: none;
    border-radius: 10px;
}

.hamburger span {
    display: block;
    position: absolute;
    top: 24px;
    left: 10px;
    right: 10px;
    height: 4px;
    background: white;
}

.hamburger span::before, .hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background:white;
    content: "";
}

.hamburger span::before {
    top: -10px;
}

.hamburger span::after {
    bottom: -10px;
}

.hamburger:focus {
    outline: none;
}

.hamburger-animation span {
    transition: background 0s 0.3s;
}

.hamburger-animation span::before, .hamburger-animation span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.hamburger-animation span::before {
    transition-property: top, transform;
}

.hamburger-animation span::after {
    transition-property: bottom, transform;
}


.hamburger-animation.is-active span{
    background:none;
}


.hamburger-animation.is-active {
    background: black;
    left: 20px;
}

.hamburger-animation.is-active span::before {
    top:0;
    transform: rotate(-45deg);
}

.hamburger-animation.is-active span::after {
    bottom:0;
    transform: rotate(45deg);
}

.hamburger-animation.is-active span::before,.hamburger-animation.is-active span::after {
    transition-delay: 0s, 0,3s;
}

#menu {
    display: none;
    width: 300px;
    background: black;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -208px;
    transition: all ease 1s;
}

#menu.nav-active {
    right:0;
    transition: all ease 2s;
    background:#082468;
}

.pre_header span {
    color: white;
}

.pre_header{
    display: block;
    background-color:#333333;
    font-size: 12px;
    height: 39px;
}

.header{
    width: 100%;
    height: 66px;
    background-color:#123EAB;
}

.pre_header .header__wrapper{
    width: 100%;
    display: flex;
    font-size: 14px;
}



.pre_header img {
    padding-right: 5px;
}


.header__img {
    position: relative;
    top: 7px;
}

.header {
    position: relative;
    z-index: 100;
}


.header__wrapper {
    position: relative;
    width: 100%;
    height: 66px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color:#FFFFFF;
    margin: 0;
    padding: 0;
    font-size: 14px;
    left: 11px;

}





.header__text a{
    color: white;
}

.header__text.hasSubmenu {
    position: relative;
    width: 53px;
}

.podsvet{
    position: absolute;
    bottom:-23px;
    height: 13px;
    width: 76px;
    z-index: 30;
    right: -8px;
}

li.hasSubmenu:hover .podsvet{
    display: block;
    background: #3C74FF;
}

.header__text.hasSubmenu ul{
    position: absolute;
    display: none;
    list-style: none;
    left: -15px;
    width: 250px;
    height: 243px;
    background:white;
    color:#333333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    margin-top: 23px;
}

li.hasSubmenu:hover ul.sub_menu {
    display: block;
}

li.hasSubmenu:hover ul.sub_menu a {
    display: block;
}

ul.sub_menu li:hover a{
    display: block;
    background-color:#123EAB;
    text-decoration: none;
}

.sub_menu a {
    display: none;
    position: relative;
    color:#333333;
    padding: 10px;
}

.sub_menu a:hover {
    display: block;
    color: white;
}

.sub_menu__item a:hover {
    display: block;
    color: white;
    background-color:#123EAB;
    text-decoration: none;
}

.sub_menu__item a{
    color:black;
    padding: 5px;
}


.header-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 39px;
}

.header-contact {
    position: relative;
    color:#F9F9F9;
    top: -2px;
}



.header-contact-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
}

.header-contact.tel {
    color: white;
    font-size: 16px;
    width: 152px;
    height: 15px;
    top: 6px;
    left: -21px;
}

.header-contact.mail {
    margin-right: 50px;
    top: 11px;
    font-size: 12px;
    width: 110px;
    height: 18px;
}

.slick-slider__item {
    position: relative;
}

.slick-slider {
    width: 1400px;
    height: 100%;
    z-index: 2;
    max-width: 80%;
}

.niz_slider_wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
}


.slider__wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 600px;
}

.slick-slider .slider_img1 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

.slider-wrapper{
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}


.slider-wrapper .kvad {
    position: absolute;
    width: 560px;
    background-color: #082468;
    right: 0px;
    top: 0px;
    bottom: -40px;
}

.slider-wrapper .nizslider {
    position: relative;
    align-items: center;
    width: 670px;
    height: 160px;
    z-index: 20;
    background-color: rgba(8, 36, 104, .7);
    padding: 26px;
    padding-left: 47px;
}

.slider-wrapper .nizslider span {
    font-weight: 700;
    font-size: 36px;
    color: white;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}

.content_h1_wrapper{
}

.content_h1 {
    font-size: 36px;
    padding-left: 70px;
}


.content1 {
    position: relative;
    padding-top: 70px;
    width: 100%;
    height: 100%;
}


.slick-prev.slick-arrow {
    position: absolute;
    bottom: 70px;
    right: 100px;
    z-index: 10;

}

.slick-next {
    display: flex;
    position: relative;
    bottom: 70px;
    right: 50px;
}

.slick-next.slick-arrow {
    position: absolute;
}

.content1_list_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content1__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    line-height: 20px;
    justify-content: center;
}

.element__content {
    flex-direction: column;
    background: white;
    position: relative;
    width: 301px;
    height: 291px;
    border: 1px solid #E0E0E0;
    margin-bottom: 30px;
    margin-left: 26px;
}

.element__bg {
    display: none;
}

.element__image {
    position: relative;
    display: flex;
    flex: 0 1 80%;
    justify-content: center;
    align-items: center;
    background-image: url(attr('data-src'));
    min-height: 200px;
    background-repeat: no-repeat;
}

.content1_element_fon{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #082468;
    opacity: 0.6;
}

.element__image:hover .content1_element_fon{
    display: block;
}

.element__image:hover .element__bg{
    display: block;
}

.element__image:hover .element__more{
    display: block;
}

.element__more:active {
    position: absolute;
    display: block;
    color: fuchsia;
    width: 143px;
    height: 50px;
}


.element__more {
    position: relative;
    display: none;
    width: 143px;
    height: 40px;
    background-repeat: no-repeat;
    z-index: 10;
}

/*
.element__image .element__more {

}
*/



.content1__item {
    font-weight: bold;
    list-style: none;
    padding-top: 12px;
    padding-left: 24px;
    padding-bottom: 17px;
    padding-right: 19px;
}

.content1__item.tex {
    align-items: flex-end;
    margin-bottom: 50px;
}

.content1 {
    position: relative;
    overflow: hidden;
}


.content1 .fon {
    position: absolute;
    background-image: linear-gradient(to right, transparent 50%, white), url(../img/Fon1.png);
    background-repeat:repeat;
    top: -100px;
    width: 615px;
    height: 300%;
    opacity: 0.6;
    z-index: -100;
}


.content2{
    margin-bottom: 32px;
    position: relative;
    width: 100%;
    height: 100%;
/*    background-color:;*/
    z-index: 1000;
}

.content2_item {
    height: 100%;
    width: 100%;
    color: white;
}

.content2_fon_wrapper {
    position: absolute;
    width: 48.5%;
    height: 90%;
    left: 0px;
    background-color:#082468;
}


.content2_item_wrapper1 {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}



.content2_item_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.content2_element1_wrapper{
    position: relative;

}

.content2_h1 {
    position: relative;
    font-size: 36px;
    font-weight: 600;
}

.content2_p {
    position: relative;
    width: 370px;
    height: 235px;
    font-size: 14px;

}

.content2_p p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}



.content2_element_item2 {
    width: 100%;
    position: relative;
}

.content2_element_wrapper2 {
    display: flex;
    width: 100%;
    height: 100%;
}



.content2_element_wrapper{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.content2_item_wrapper1 {
    display: flex;
    flex-wrap: wrap;
}

.content2_element2_wrapper {
    position: relative;
    padding-top: 230px;
    width: 730px;
}


.block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 239px;
    height: 296px;
    background-color:#123EAB;
    flex-direction: column;
}

.block__img {
    position: relative;
    margin-bottom: 10px;
}

.block__wrapper {
    width: 180px;
    padding-top: 22px;
}

.block__title {
    position: relative;
    width: auto;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}

.block__desc {
    font-size: 14px;
    padding-top: 20px;
    line-height: 18px;
}

.content2_element li {
    width: 239px;
    height: 296px;
    background-color:#123EAB;
    list-style: none;
}

.content2_element img {
    position: relative;
    top: 33px;
    left: 75px;
}



.content2_element h5 {
    position: relative;
    padding-top: 64px;
    padding-left: 33px;
    font-size: 18px;
    font-weight: 600;
}


.content2_element p {
    position: relative;
    font-size: 14px;
}

.content2__more {
    position: relative;
    display: flex;
    width: 190px;
    height: 40px;
    background-color:#123EAB;
    align-items: center;
    justify-content: center;
}

.content2__more a {
    position: relative;
    font-weight: 700;
    color: white;
}

.content3 {
    position: relative;
    height: 280px;
    background-image: url(../img/content3_img.png);
    object-fit: cover;
    margin-top: 60px;
}

.container_3 {
    justify-content: center;
    align-items:center;
    display: flex;
    width: 100%;
    height: 100%;
}

.content3_item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: -24px;
    top: 5px;
    width: 520px;
    height: 200px;
    text-align:center;
    color: white;
    line-height: 22px;
}

.content3_item h5 {
    text-align:center;
    font-size: 36px;
    font-weight: 700;
    height: 40px;
    margin: 0;
}

.content3_item p {
    position: relative;
    font-size: 14px;
    width: auto;
    height: 20px;
    top: -12px;
}

.content3_form {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 50px;
    top: -12px;
    width: 79%;

}

.content3_input {
    width: 194px;
    height: 50px;
    padding: 16px;
}

.content3_more {
    position: relative;
    width: 194px;
    height: 50px;
}

.seo {
    margin-top: 63px;
}


.seo_element {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

.seo_element_item1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
    height: 400px;
    margin-right: 10px;
}



.seo_element_item1 .seo_img1 {
    position: relative;
    left: -40px;
    z-index: 10;
}

.seo_wrapper_img1 {
    position: relative;
    width: 500px;
    height: 350px;
}

.seo_wrapper_img1:before {
    content: "";
    position: absolute;
    width: 531px;
    height: 358px;
    top: -20px;
    left: -65px;
    background-color:#C4C4C4;
}


.seo_wrapper_img1:after {
    content: "";
    position: absolute;
    width: 531px;
    height: 358px;
    bottom: 0;
    right: -15px;
    background-color:#123EAB;
    bottom: -30px;
    z-index: -100;
}

/*
.seo_element_item1 .seo_img2 {
    position: absolute;
    left:-10px;
    top:0;
}

.seo_element_item1 .seo_img3 {
    position: absolute;
    bottom: 5px;
    left: 28px;
}
*/

.seo_element_item2 {
    position: relative;
    width: 48.6%;
    height: 418px;
    left:-8px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.seo_element_item2::-webkit-scrollbar{
    width: 4px;
    background-color: gray;
    border-radius: 30px;
    overflow: visible;
}

.seo_element_item2::-webkit-scrollbar-thumb{
    border-color: #777;
    background-color:blue;
    border-radius: 30px;
    border-width: 1px;
}

.seo_element_item2::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
    border-radius: 30px;
}

.seo_element_item2::-webkit-scrollbar-track{
    border-width:0;
}

.seo_element_item2::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
    border-radius: 30px;
}

.seo_element_item2 h1{
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    color:#082468;
}

.seo_element_item2 p {
    margin-top: 15px;
    font-size: 14px;
    line-height: 22px;
    width: 540px;
}

.footer {
    position: relative;
    margin-top: 59px;
    padding-top: 13px;
    background-color:#333333;
/*    background-image: url(Fon1.png), linear-gradient(rgba(30,30,30,.7),rgba(30,30,30,.7));*/
    background-image: url(../img/footer_fon.png), linear-gradient(rgba(30, 30, 30, 0.7),rgba(30, 30, 100, 0.7));
    background-blend-mode: color-burn;
}

.footer__frame {
    display: flex;
    align-items: center;
    width: auto;
    top: 10px;
    left: -10px;
}

.footer__frame p {
    position: relative;
    display: block;
    color: white;
    left: 17px;
    font-weight: 700;
    font-size: 23px;
    line-height: 55px;
}


.footer_element{
    width: 100%;
}

.footer_element_list {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
}

.footer_element .footer_yslugi {
    position: relative;
    font-size: 12px;
    line-height: 15px;
    color: #3C74FF;
    font-style: normal;
    font-weight: bold;
}

.footer_element_list1_wrapper {
}

.footer_element_list1 {
    margin-top: 20px;
    width: 50%;
}

.footer_element_list2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_element_block1 {
/*
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    flex-wrap: wrap;
*/
    column-count: 2;
    width: 100%;
}

.footer_element_list1 li {
    list-style: none;
}

.footer_element_list1 a {
    color: white;
    font-size: 12px;
    line-height: 15px;
    font-style: normal;
    font-weight: normal;
    color: #F9F9F9
}

/*
.footer_item1 {
    position: relative;
    height: 100%;
    top: -10px;
    font-style: normal;
    font-weight: normal;
}

.footer_item2 {
    position: relative;
    width: 26%;
    height: 100%;
    top:-9px;
    left: 10px;
}
*/

.footer_item3 {
}

.footer_item3 img {
}

.block3_more {
    width: auto;
    font-size: 12px;
    max-width: 270px;
}

.block3_more p{
    font-weight: bold;
    color: #3C74FF;
    width: 100%;
}

.block3_list{
    list-style: none;
}

.block3_list_item span {
    position: relative;
    font-style: normal;
    font-weight: normal;
    color: #F9F9F9;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    margin-top: 4px;
}

.block3_more_item {
    position: relative;
    display: flex;
    align-items: center;
    width: 196px;
    height: 40px;
    background-color: #123EAB;
    margin-top: 14px;
}

.block3_more_item .block3_more_item_text {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F9F9F9;
}

.block3_list_item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.block3_list_item img{
    position: relative;
    padding-right: 5px;
}

.footer_item3 li a{
    color: white;
    font-size: 12px;
    list-style: none;

}

.footer_item3{
    list-style: none;
}

.footer_element {

}

.footer_element_item1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer_item3 li .pdf{
    color: #898989;
    font-size: 8px
}

.person {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: normal;
    text-align: center;
}

.footer_niz {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    height: 90px;
    align-items: flex-end;
}

.footer_niz_element1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.footer_niz_wrapper {
    display: flex;
    width: 38%;
    justify-content: space-between;
}

.footer_niz_item {
    position: relative;
    list-style: none;
    color:#898989;
}

.footer_niz_element1 img {
    height: auto;
    padding-right: 26px;
}

.line_footer {
    display:block;
    position: absolute;
    width: 100%;
    height: 1px;
    background:#505050;
    bottom: 47px;
}
